<nav class="navbar navbar-expand navbar-light bg-light justify-content-end">
  <div class="nav navbar-nav">
    <% if(locals.user) { %>
    <div id="menu">
      <% if (locals.user.role !== "guest") { %>

      <h6>Здравствуйте, <span class="name"><%= locals.user.name %></span>!</h6>
      <a id="a11" class="badge rounded-pill bg-primary" href="/post">Пост</a>
      <% } else { %>
      <h6>Вы вошли как <span class="name"> <%= locals.user.name %></span></h6>
      <% } %>
      <a id="a1" class="badge rounded-pill bg-warning" href="/logout">Выход</a>
    </div>
    <% } else { %>
    <!-- Меню для анонимных пользователей -->
    <div id="menu">
      <a id="a1" class="badge rounded-pill bg-info" href="/login">Вход</a>
      <a id="a1" class="badge rounded-pill bg-info" href="/register"
        >Регистрация</a
      >
    </div>
    <% } %>
  </div>
</nav>
